@media (max-width: 1080px) {
	.grid--cols-3 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 980px) {
	.header {
		text-align: center;
	}

	.menu nav ul {
		display: block;
		text-align: center;
	}

	.menu nav ul li a {
		line-height: 30px;
	}

	.banner-text-box {
		text-align: center;
	}

	.banner-img-box {
		padding: 20px 0px;
	}

	.flex {
		display: block;
	}

	.col-6 {
		flex-basis: 100%;
	}
}

@media (max-width: 780px) {
	.grid--cols-2,
	.grid--cols-3 {
		grid-template-columns: repeat(1, 1fr);
	}

	.grid--cols-6 {
		grid-template-columns: repeat(2, 1fr);
	}

	.logo {
		margin: 20px;
	}
}
